.App {
  text-align: center;
  background-color: #FFD7D7;
  color: #FD2D01;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form label {
  color: black;
}

.form input {
  width: 300px;
  margin-bottom: 10px;
}
